@import "reset.css"; 
@import url('http://fonts.cdnfonts.com/css/euclid-circular-a');

body {
    font-family: 'Euclid Circular A', sans-serif;
    background-color: #F5F5F5;
}

.container {
    max-width: 720px;
    height: 100vh;
    margin: 0 auto;
}

.slide-wrapper li {
    max-height: 70vh;
}

.slide-wrapper li img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.controller-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.controller-list li {
    padding-right: 8px;
}

.target::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F2C98B;
    cursor: pointer;
}

.target.active::before {
    width: 24px;
    border-radius: 10em;
    background-color: #E9900B;
}

.info-product {
    position: relative;
}

.background-strip {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #df8a63;
    position: absolute;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    border-top-left-radius: 10em;
    position: absolute;
    padding: 0 30px;

}

.info-content .title {
    font-size: 1.25em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 40px;
    margin-bottom: 12px;
}

.info-content .description {
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
    color: rgba(7, 7, 7, 0.65);
    margin-bottom: 40px;
}

.btn {
    display: block;
    width: 250px;
    height: 45px;
    border-radius: 10em;
    border: 2px solid #E9900B;
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.4)
}

.btn.btn-login {
    background-color: #E9900B;
    margin-bottom: 24px;
}

.btn.btn-login a {
    text-decoration: none;
    color: #FFF!important;
}

.btn.btn-sign-in {
    background-color: transparent;
    margin-bottom: 53px;
}

.btn.btn-sign-in a {
    text-decoration: none;
    color: #E9900B!important;
}

/*Login*/
.container-login {
    display: flex;
    height: 100vh;
    max-width: 720px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login h1 {
    font-size: 1.375em;
    font-weight: normal;
    margin-bottom: 80px;
}

.inpt-email {
    display:inline-block;
    margin-bottom: 30px;
}

.inpt {
    display: block;
    width: 250px;
    height: 45px;
    border-radius: 10em;
    border: 2px solid #ACACAC;
    background-color: #F5F5F5;
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
    font-size: 0.75em;
    text-align: left;
    padding: 0 15px;
}

.inpt:focus{
    outline: unset;
    border: 2px solid #E9900B;
}

.inpt::placeholder {
    color: #959393;
}

.inpt.inpt-login {
    background-color: #E9900B;
    border: none;
    color: #FFF;
    font-size: 1.125em;
    text-align: center;
    margin: 60px auto;  
}

.inpt.inpt-login:hover {
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.4)
}

.types {
    display: flex;
    justify-content: space-evenly;
}

.types li a img {
    display: block;
    width: 60px;
    transition: .3s;
}

.types li a img:hover {
    transform: scale(1.2);
    transition: .3s;
}

.create-account {
    margin-bottom: 50px;
}

.create-account a, .form-login a,.strip-info {
    font-size: 0.75em;
    font-weight: 500;
    color: #959393;
}

.create-account p {
    box-sizing: border-box;
    font-size: 0.75em;
}

.create-account a {
    text-decoration: none;
    font-size: 1em;
}

.alternative-login {
    display: flex;
    flex-direction: column;
}

.strip-info {
    margin-bottom: 18px;
}

.strip-info::before, .strip-info::after {
    content: '';
    display: inline-block;
    width: 130px;
    margin: 0px 5px 3px 5px;
    height: 1px;
    background-color: #E9900B;
}


/*Media Queries*/
@media screen and (max-width: 531px) {
    .slide-wrapper li {
        max-height: 55vh;
    }
}